* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    margin: 20px 20px;
}
.content {
    display: flex;
    margin-left: 10px;
    padding: 5px 10px;
    align-items: center;
    border: 2px solid red;
    font-size: 30px;
}
.content:hover {
    cursor: pointer;
}
.design {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 2px solid #999;
    border-radius: 50px;
    position: relative;
    opacity: 1;
}
.checked {
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: #275b90;
    opacity: 0;
    border-radius: 50px;
}
.checked1 {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: #275b90;
    opacity: 0;
    border-radius: 50px;
}
.content input:checked + .design .checked {
    transition: transform 0.5s;
    opacity: 1;
    transform: scale(2);
    background-color: #275b90;
}
.content input:checked + .design .checked1 {
    transition: transform 0.5s;
    opacity: 1;
    transform: scale(0.5);
    background-color: #275b90;
}

.content input:checked + .design {
    border: 2px solid #275b90;
}
input[type = "radio"] {
    display: none;
}