* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-width: 1400px;
    background-color: #E5E5E5;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #275b90;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    max-height: 50px;
}
.hd-left {
    display: inline;
    position: relative;
    top: -2px;
    justify-content: center;
}
.hd-right {
    font-size: 15px;
    display: flex;
    width: 100%;
    max-width: 247px;
    padding: 0 20px;
    align-items: center;
}
.icon-bell {
    color: white;
}
.user-img {
    max-height: 40px;
    border: 2px solid rgba(204, 203, 203, 0.425);
    border-radius: 50%;
    position: relative;
    margin-left: 55px;
    margin-right: 5px;
}
#user-name {
    font-weight: 400;
    font-size: 15px;
    color: white;
}
.title-content {
    display: flex;
    padding: 10px 20px 0;
}
.title-content img {
    max-width: 64px;
    max-height: 64px;
}
.title {
    margin: 5px 0 0 10px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
}
.title h4 {
    font-size: 25px;
    font-weight: 600;
}
.title h5 {
    font-size: 20px;
    font-weight: 500;
}

[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1380px;
}
.tabs {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    height: 64px;
    border-bottom: 0.1px solid #ccc;
}
.tab {
    position: relative;
    left: -2px;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
}
.tab.active {
    border: 0.1px solid #ccc;
    border-bottom: 5px solid white;
    border-radius: 5px;
    box-sizing: content-box;
    z-index: 20;
}
.tab:hover {
    background-color: #AAA;
}

.content {
    margin: 5px 10px 0;
    background-color: white;
    height: 500px;
    max-height: 500px;
}
.main-content {
    display: flex;
    height: 25px;
    /* border: 2px solid green; */
    align-items: center;
    margin-bottom: 15px;
}
label {
    font-size: 15px;
    font-weight: 400;
    
}
.content-label {
    margin-right: 25px;
    display: flex;
    justify-content: flex-end;
    min-width: 300px;
    width: 300px;
}
.number-of-page {
    margin-right: 55px;
}
#power-source {
    padding-left: 5px;
    height: 100%;
    width: 400px;
}
#production-promote {
    height: 100%;
    width: 353.5px;
    margin-right: 10px;
    padding-left: 5px;
}
#company-name {
    height: 100%;
    width: 400px;
    margin-right: 55px;
    padding-left: 5px;
}
#production-agreement {
    height: 100%;
    width: 353.5px;
    margin-right: 10px;
    padding-left: 5px;
}
#installation-site {
    height: 100%;
    width: 400px;
    margin-right: 55px;
    padding-left: 5px;
}
#install-detail {
    height: 100%;
    width: 400px;
    margin-right: 55px;
    padding-left: 5px;
}

#brand {
    width: 266.5px;
    height: 100%;
    margin: 0 10px 0 15px;
    padding-left: 5px;
}
#generation {
    width: 325px;
    height: 100%;
    margin-left: 15px;
    padding-left: 5px;
}
#solar-type {
    height: 100%;
    width: 325px;
    padding-left: 5px;
}
#solar-power-unit {
    height: 100%;
    width: 325px;
    margin-right: 10px;
    padding-left: 5px;
}
#solar-number {
    height: 100%;
    width: 325px;
    margin-right: 10px;
    padding-left: 5px;
}
#solar-power-total {
    height: 100%;
    width: 325px;
    margin-right: 10px;
    padding-left: 5px;
}

#brand1 {
    width: 266.5px;
    height: 100%;
    margin: 0 10px 0 15px;
    padding-left: 5px;
}
#generation1 {
    width: 325px;
    height: 100%;
    margin-left: 15px;
    padding-left: 5px;
}
#solar-type1 {
    height: 100%;
    width: 325px;
    padding-left: 5px;
}
#solar-power-unit1 {
    height: 100%;
    width: 325px;
    margin-right: 10px;
    padding-left: 5px;
}
#solar-number1 {
    height: 100%;
    width: 325px;
    margin-right: 10px;
    padding-left: 5px;
}
#solar-power-total1 {
    height: 100%;
    width: 325px;
    margin-right: 10px;
    padding-left: 5px;
}

#asset {
    height: 100%;
    width: 400px;
    padding-left: 5px;
}
#debt {
    height: 100%;
    width: 400px;
    padding-left: 5px;
}
#number-of-equity {
    height: 100%;
    width: 400px;
    padding-left: 5px;
}
#registered-capital {
    height: 100%;
    width: 400px;
    padding-left: 5px;
}
#profit-accumulated {
    height: 100%;
    width: 400px;
    padding-left: 5px;
}
#etc {
    height: 100%;
    width: 400px;
    padding-left: 5px;
}

.btn {
    width: fit-content;
    background-color: #4CAF50;
    display: block;
    margin-top: 20px;
    border-color: #4CAF50;
    padding: 7px 25px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}
.btn a {
    font-weight: 800;
    color: white;
    text-decoration: none;
}
.row-3-col-3 {
    height: 100%;
    margin-left: 10px;
    padding-left: 5px;
    width: 70px;
}