* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-width: 1400px;
    background-color: #E5E5E5;
    font-family: 'Open Sans', sans-serif;
}
header {
    background-color: #275b90;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    max-height: 50px;
}
.hd-left {
    display: inline;
    position: relative;
    top: -2px;
    justify-content: center;
}
.hd-right {
    font-size: 15px;
    display: flex;
    width: 100%;
    max-width: 247px;
    padding: 0 20px;
    align-items: center;
}
.icon-bell {
    color: white;
}
.user-img {
    max-height: 40px;
    border: 2px solid rgba(204, 203, 203, 0.425);
    border-radius: 50%;
    position: relative;
    margin-left: 55px;
    margin-right: 5px;
}
#user-name {
    font-weight: 400;
    font-size: 15px;
    color: white;
}
.title-content {
    display: flex;
    padding: 10px 20px 0;
}
.title-content img {
    max-width: 64px;
    max-height: 64px;
}
.title {
    margin: 5px 0 0 10px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
}
.title h4 {
    font-size: 25px;
    font-weight: 600;
}
.title h5 {
    font-size: 20px;
    font-weight: 500;
}

[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 1380px;
}
.tabs {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    width: 100%;
    height: 44px;
    border-bottom: 0.1px solid #ccc;
}
.tab {
    position: relative;
    cursor: pointer;
    padding: 10px;
}
.tab.active {
    position: relative;
    background-color: rgba(214, 214, 214, 0.336);
    border: 0.1px solid #ccc;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 5px 5px 0 0;
    z-index: 2;
    box-sizing: content-box;
}
.tab:hover {
    background-color: rgba(196, 194, 194, 0.336);
}
.content {
    padding: 20px 0;
    margin: 5px 10px 0;
    background-color: white;
    height: fit-content;
}
label {
    font-size: 15px;
    font-weight: 400;
}
#tab1 .sup-content {
    display: flex;
    margin-bottom: 15px;
    /* border: 2px solid red; */
}
#tab1 .sup-title {
    min-width: 40%;
    margin-right: 10px;
    display: flex; 
    justify-content: flex-end;
    width: 300px;
    text-align: end;
}
#tab1 .sub-content {
    display: flex;
    margin-bottom: 8px;
    /* border: 2px solid green; */
}
#tab1 select {
    height: 25px;
    width: 350px;
    padding-left: 8px;
}
#tab1 .sub-content label {

    margin-right: 10px;
}
#tab1 input {
    height: 25px;
    padding-left: 8px;
}
#tab1 .address .sub-content label {
    min-width: 46.29px;
    margin-right: 10px;
}
#tab1 .address-input {
    width: 293.71px;
}
#tab2 h4 {
    background-color: #275b90;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
    width: fit-content;
    margin-top: 10px;
}
#tab2 .sup-content {
    display: flex;
    /* margin-bottom: 15px; */
    /* border: 2px solid red; */
}
#tab2 .sup-title {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    min-width: 35%;
    text-align: end;
}
#tab2 .sub-content {
    display: flex;
    margin-bottom: 10px;
    
    /* border: 2px solid green; */
}
#tab2 .sub-title {
    width: 150px;
    position: relative;
    top: 1.6px;
    font-size: 14px;
}
.tab2-content {
    margin-bottom: 25px;
    display: none;
}
.check-box {
    display: flex;
    align-items: center;
}
.foot-title {
    margin-left: 10px;
    font-size: 14px;
}
.none {
    display: none;
}
#tab2 .rad-label {
    width: fit-content;
    position: relative;
    top: -6px;
    padding: 5px;
    display: flex;
    border-radius: 100px;
    cursor: pointer;
    transition: .3s;
}
#tab2 .rad-label:hover {
    background: rgba(192, 192, 192, 0.185);
}   
.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}
#tab2 .rad-design {
    margin-top: 3px;
    width: 17px;
    height: 17px;
    border-radius: 100px;
    background: #275b90;
    position: relative;
}
#tab2 .rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: rgb(204, 204, 204);
    transform: scale(1.1);
    transition: .3s;
}
#tab2 .rad-input:checked+.rad-design::before {
    transform: scale(0);
}
#tab2 .rad-text , .etc{
    color: gray;
    margin-left: 14px;
    /* font-size: 16px;
    font-weight: 500; */
    transition: .3s;
}
#tab2 .rad-input:checked~.rad-text, .rad-input:checked~.etc{
    color: black;
}
.page2-input {
    height: 25px;
    width: 250px;
    padding-left: 5px;
}
#have-ess {
    position: relative;
    top: 3.5px;
    right: 8px;
    width: 15px;
    height: 15px;
}

#tab2 .etc-input{
    display: flex;
    margin-bottom: 5px;
    padding-left: 10px;
}

.etc-btn-input{
    width: fit-content;
    margin: center;
    margin-left: 10px;
    padding: 0px 10px;
}

.install-text{
    padding-left: 10px;
}

.btn1 {
    width: fit-content;
    background-color: #4CAF50;
    display: block;
    margin-top: 20px;
    border-color: #4CAF50;
    padding: 7px 25px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}
.btn1:hover{
    cursor: pointer;
}
.btn1 a {
    font-weight: 800;
    color: white;
    text-decoration: none;
}
/* input[type="number"] {
    background-color: red;
} */
/* .row-3-col-3 {
    height: 25px;
    margin: 0 0 0 10px;
    padding-left: 5px;
    width: 138.50px;
} */
