* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://boi-investment.boi.go.th/img_boi/authentication-front.jpg");
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.login {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 510.04px;
    height: 523.2px;
    background-color: white;
}

.login-logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 125px;
    background: #1184e0;
}

.login-form {
    padding: 30px 20px;
    text-align: center;
}

.login-ID {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 100%;
}

.login-Password {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 20px;
    width: 100%;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    width: 395px;
    height: 44.22px;
    background-color: #1184e0 !important;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
    cursor: pointer;
    box-shadow: none;
}

.bottom-text {
    color: #FF0000;
    font-size: 16px;
}

h4 {
    color: #1184e0 !important;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}


input[type=text], input[type=password], input[type=month] {
    display: block;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.5px solid black;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus, select:focus, input[type=month]:focus {
    border: 0.5px solid #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}