* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
}

header {
    background-color: #275b90;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    max-height: 50px;
}

.hd-left {
    display: inline;
    position: relative;
    top: -2px;
    justify-content: center;
}

.hd-right {
    display: flex;
    width: 100%;
    max-width: fit-content;
    font-size: 15px;
    padding: 0 20px;
    align-items: center;
}

h4 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    color: rgb(153, 151, 151);
}

.icon-bell {
    color: white;
}

.user-img {
    max-height: 40px;
    border: 2px solid rgba(204, 203, 203, 0.425);
    border-radius: 50%;
    position: relative;
    margin-left: 15px;
    margin-right: 5px;
}

.title-content {
    display: flex;
    padding: 10px 10px 0;
}

.title {
    margin: 5px 0 0 10px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
}

.content {
    background-color: white;
    height: fit-content;
    padding: 30px 20px;
    margin: 0px 10px;
}

.title h4 {
    font-size: 25px;
    font-weight: 600;
    color: black;
}

.title h5 {
    font-size: 20px;
    font-weight: 500;
}

#user-name {
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.main-content {
    background-color: white;
    height:auto;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    padding-top: 50px;
}

.home-btn {
    background-color: #ff5252;
    border-color: #ff5252;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
    padding: 12px 10px;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: white;
}
.btn-section {
    display: flex;
    width: 250px;
    justify-content: space-between;
    margin: 0px auto;
    margin-bottom: 20px;
}

.search-btn {
    text-align: center;
    width: 100px;
    background-color: #40c4ff;
    border-color: #40c4ff;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.reset-btn {
    width: 100px;
    text-align: center;
    background-color: #f57c00;
    border-color: #f57c00;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
}

label{
    color: #666;
}

h4 {
    font-size: 20px;
}

input[type=text], input[type=number], input[type=date] {
    display: block;
    width: 300px;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select {
    display: block;
    width: 300px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 2px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=text]:focus, input[type=number]:focus, select:focus, input[type=month]:focus {
    border: 2px solid #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

input[type=number]:focus+.surfix {
    color: black;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.form-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0% 15%;
    width: 100%;
}

.input-search{
    display: flex;
    align-items: center;    
}

.row-search{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-label{
    width: 110px;
    text-align: end;
    margin-right: 35px;
    font-weight: 700; 
}

.bg-primary{
    background-color: #0d6efd;
    font-weight:bold;
    color:#FFFFFF;
 }

 table.table thead th{
    vertical-align: middle;
    text-align:center;
    border: 1px solid #ced4da;
}
    
.table td, .table th {
    padding: 8px 10px;
    font-size: 14px;
}